.App {
  text-align: center;
  position: relative;
}
.App-header {
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: #C4C4C4;
  height: max-content;
}
.App .country {
  top: 0%;
}
.App .search{
  z-index: 1;
  position: fixed;
  width: fit-content;
}
.App-footer {
  background-color: #4A4848;
  color: #E9E7E7;
}
.leaflet-container {
  width: 100%;
  min-height: 80vh;
  z-index: 0;
}
.leaflet-control-container { position: absolute; right: 56px } 

.bg-text{
  background-color: #C4C4C4;
}

.select-filter{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
